body {
    text-align: center;
    font-family: 'Griffy', cursive;
}

.background {
    position: relative;
}

/*background for christmas time inspiration https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.sweetandtalented.com%2Fimages%2Fmeangirls%2Fmeangirls12.jpg&f=1*/

.background::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Faz616578.vo.msecnd.net%2Ffiles%2F2016%2F10%2F18%2F636123515330755057-1710839023_115206-regina-george-halloween-costum-aim3.jpeg&f=1");
    background-size: cover;
    opacity: 0.7;
    content: "";
    z-index: -1
}

#navp {
    color: white;
    text-align: left;
}

h1 {
    padding-top: 30px;
    color: black;
    text-shadow: 2px 2px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 100px;
    color: black;
}

button {
    margin: 100px 400px;
}

/*a {*/
/*    color: white;*/
/*    text-align: right;*/
/*}*/

/*a:hover {*/
/*    color: blue;*/
/*}*/