html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.background {
    position: relative;
}

.background:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Faz616578.vo.msecnd.net%2Ffiles%2F2016%2F10%2F18%2F636123515330755057-1710839023_115206-regina-george-halloween-costum-aim3.jpeg&f=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    content: "";
    z-index: -2;
}

#navp {
    color: white;
    text-align: left;
}

h1 {
    padding-top: 25px;
    margin-bottom: 0;
    color: black;
    font-size: 4em;
    text-shadow: 2px 2px;
}

hr {
    padding-top: 0;
    margin-top: 0;
}

h5 {
    padding-top: 85px;
    padding-bottom: 10px;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

#messageBox {
    font-size: 2em;
    font-weight: 700;
    color: pink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button {
    margin: 15px;
}

/*a {*/
/*    color: white;*/
/*    text-align: right;*/
/*}*/

/*a:hover {*/
/*    color: blue;*/
/*}*/