html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.background {
    position: relative;
}

.background:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../resources/RG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    content: "";
    z-index: -2;
}

#navp {
    color: white;
    text-align: left;
}

h1 {
    padding-top: 25px;
    margin-bottom: 0;
    color: black;
    font-size: 4em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

hr {
    padding-top: 0;
    margin-top: 0;
}

h5 {
    padding-top: 85px;
    padding-bottom: 25px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    letter-spacing: 1px;
}

#messageBox {
    font-size: 2em;
    font-weight: 700;
    color: pink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px;
}

button {
    margin: 15px;
}

/*a {*/
/*    color: white;*/
/*    text-align: right;*/
/*}*/

/*a:hover {*/
/*    color: blue;*/
/*}*/
